*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: white;
     font-family: 'Plain Light';
}

html, body{
     height: 100%;
     width: 100%;
     cursor: none;
}

/*-------------------- Cursor section-------------------- */

#cursor {
     height: 2.5vmax;
     width: 2.5vmax;
     border-radius: 50%;
     background-color: transparent;
     position: fixed;
     z-index: 9999;
     border: 1px solid rgb(252, 248, 248);
     mix-blend-mode: difference;
     transform: translate(-50%, -50%); /*So that our arrow is at the center of the custom cursor and not at top left*/
     pointer-events: none;
}


/*-------------------- Loader section-------------------- */
#loader{
     height: 100%;
     width: 100%;
     position: fixed;
     z-index: 999;
     background-color: #0B0B0B;
     padding: 25vh 10vw;
}

.line{
     /* background-color: crimson; */
     height: fit-content;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     position: relative;
     gap: 3vw;
}

.line .line1-part1{
     /* background-color: yellow; */
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 1vw;
}

.line .line1-part1 h5, .line .line1-part1 h6{
     font-family: 'Silk Serif';
     font-size: 3vw;
     font-weight: 400;
}

.line .line1-part1 h5{
     width: 5vw;
     text-align: right;
}

.line h1{
     font-size: 6vw;
     text-transform: uppercase;
}


.line h2{
     font-size: 6vw;
     text-transform: uppercase;
     display: flex;
     align-items: center;
     height: 6.2vw;
     width: 20vmax;
     /* background-color: yellow; */
     animation-name: anime;
     animation-duration: 1.3s;
     animation-iteration-count: infinite;
     animation-delay: 1s;
     /* animation-fill-mode: forwards;
     animation-direction: alternate; */
     font-weight: 300;
     -webkit-text-stroke: 1px #fff;
}

@keyframes anime{
     0%{
          font-family: "Silk Serif";
          /* font-weight: 900; */
          color: transparent;
          -webkit-text-stroke: 1px #fff;
          opacity: 1
     }
     47%{
          font-family: "Silk Serif";
          color: transparent;
          -webkit-text-stroke: 1px #fff;
          opacity: 0;
     }
     50%{
          font-family: "Plain Light";
          -webkit-text-stroke: 1px #fff;
          /* font-weight: 600; */
          color: #fff;
          opacity: 1;
     }
     100%{
          font-family: "Plain Light";
          -webkit-text-stroke: 1px #fff;
          /* font-weight: 600; */
          color: #fff;
          opacity: 0;
     }
     
}

#main{
     position: relative;
     height: 100vh;
     background-color: #030303;
}

/*-------------------- page1 section-------------------- */
#page1{
     position: relative;
     background-color: #151515;
     height: 100vh;
     width: 100%;
}

#page1 #nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     /* background-color: red; */
     padding: 2.5vmax 8vmax;
     overflow: hidden;
}

#nav #nav-part2{
     display: flex;
     /* background-color: yellow; */
     align-items: center;
     gap: 3vw;
}

#nav #nav-part2 h4{
     /* background-color: yellow; */
     display: flex;
     align-items: center;
     height: 50px;
     width: 80px;
     font-size: 1vmax;
     font-weight: 500;
}

/* Page1 - Hero section */
.hero{
     /* background-color: red; */
     width: 72%;
     margin-left: 27%;
     height: fit-content;   
     overflow: hidden;  
     display: flex;
     align-items: center;
}

.hero:nth-child(2){
     margin-top: 9vmax;
}

.hero h1{
     font-size: 6.3vmax;
     text-transform: uppercase;
     position: relative;
}


#hero1 h1:before{
      font-family: 'Silk Serif';
      display: block;
      content: '01';
      font-size: 3vmax;
      /* background-color: pink; */
      position: absolute;
      top: 0;
      left: -20%;
      height: fit-content;
}


#hero3 h2{
     font-size: 6.3vmax;
     text-transform: uppercase;
}

#hero3 h3{
     font-size: 6.3vmax;
     text-transform: uppercase;
}

.hover-style{
     -webkit-text-stroke: 1px #fff;
     color: transparent;
     font-weight: 500;
}